<div style="<%= style %>" class="burndown_chart" id="burndown"></div>

<script type="text/javascript" language="javascript">
jQuery(function($){
  var ideal = <%= @report.get_line(:ideal_line).to_json.html_safe %>
  var remaining = <%= @report.get_line(:remain_line).to_json.html_safe %>

window.bd_chart = jQuery.jqplot('burndown', [ideal, remaining], {
  title:'Burndown Chart',
    axes:{
      xaxis:{
        label: "Days",
        renderer:$.jqplot.DateAxisRenderer,
        ticks: <%= @report.days.to_a.map(&:to_s).to_json.html_safe %>,
        tickOptions:{
          formatString:'%b&nbsp;%#d'
        }
      },
      yaxis:{
        label: "Remaining",
        min: 0,
        max: <%= @report.sum_estimated_hours.to_json.html_safe %>,
        tickOptions:{
         formatString:'%.2f'
        }
      }
    },
    highlighter: {
      show: true,
      sizeAdjust: 7.5
    },
    cursor: {
      show: false
    }
  });
})
</script>
