<div id="time-entry-dialog" data-bind="modal: selected">
  <% form_for TimeEntry.new, :url => '/scrum_report_time_entries', :html => { :id => 'set-time-entry-hours', "data-remote" => true } do |f| %> 
    <div id="errorExplanation">
      <ul></ul>
    </div>
    <p>
     <%= f.hidden_field :issue_id %>
     <%= f.hidden_field :spent_on %>
     <label>Day:</label>
     <span id="spent-on-day"></span>
    </p>
    <p>
      <label>Assignee:</label>
      <span id="assignee"></span>
    </p>
    <p>
      <label>Spent time:</label>
      <%= f.text_field :hours, :size => 6, :required => true, "data-bind" => "value :spent" %>
    </p>
    <p>
      <label>Activity:</label>
      <%= f.select :activity_id, activity_collection_for_select_options(@time_entry), :required => true %>
    </p>
    <p>
      <label>Remaining time:</label>
      <%= f.text_field :te_remaining_hours, :size => 6, "data-bind" => "value: left" %>
    </p>
  <% end %>
  <div class="rsindicator"> </div>
</div>
