<div id="time-entry-dialog">
  <% form_for TimeEntry.new, :url => '/scrum_report_time_entries', :html => { :id => 'set-time-entry-hours', "data-remote" => true } do |f| %> 
    <div id="errorExplanation">
      <ul></ul>
    </div>
    <p>
    <%= f.hidden_field :issue_id %>
    <%= f.hidden_field :spent_on %>
    <span id="spent-on-day"></day> Day
    </p>
    <p>
    <%= f.text_field :hours, :size => 6, :required => true %>
    <%= f.label :hours %>
    </p>
    <p>
    <%= f.text_field :te_remaining_hours, :size => 6 %>
    <%= f.label :te_remaining_hours %>
    </p>
    <p><%= f.select :activity_id, activity_collection_for_select_options(@time_entry), :required => true %>
    <%= f.label :te_remaining_hours %>
    </p>
  <% end %>
  <div class="rsindicator"> </div>
</div>
