<% content_for :header_tags do %>
  <%= javascript_include_tag 'time_entry', :plugin => :redmine_scrum %>
  <%= stylesheet_link_tag 'jquery/jquery-ui.css', :plugin => :redmine_backlogs %>
  <%= stylesheet_link_tag 'redmine_scrum', :plugin => :redmine_scrum %>

<% end %>

<h2><%= l(:scrum_report) %></h2>

<%= render "modal_dialog" %>

<% form_tag({:controller => 'scrum_report', :action => 'index', :project_id => @project},:method => :get, :id => 'query_form') do %>
  <%# @report.criteria.each do |criterion| %>
    <%#= hidden_field_tag 'criteria[]', criterion, :id => nil %>
  <%# end %>

  <p>
    <label for='version_id'><%= l(:label_version) %></label>:
    <% if @versions.present? %>
      <% options = ['' ] + @versions.map {|v| ["#{v.name} (#{v.sprint_start_date} - #{v.effective_date})", v.id] } %>
      <%= select_tag 'version_id', 
        options_for_select(options, @version.try(:id)), :onchange => "this.form.submit();" %>
  <% end %>
  </p>
<% end %>

<div class="autoscroll">
  <table class="list" id="time-report">
    <thead>
      <tr>
        <th rowspan="2">User Story</th>
        <th rowspan="2">Issue</th>
        <th rowspan="2">Assignee</th>
        <th rowspan="2">Status</th>
        <th rowspan="2" class="period-end">Estimated</th>
        <% @report.days.each do |day| %>
          <th class="period-end" colspan="2"><%= day.to_s %></th>
        <% end %>
        <th colspan="2">Total</th>
      </tr>
      <tr>
        <% @report.days.each do |day| %>
          <th>&sum;</th>
          <th class="period-end">R</th>
        <% end %>
        <th>&sum;</th>
        <th>R</th>
      </tr>
    </thead>
    <tbody>
      <% tes = [] %>
      <% @report.issues.group_by(&:parent_id).each do |parent, tasks| %>
        <tr class="subtotal <%= cycle 'odd', 'even' %>">
          <% user_story = Issue.find_by_id(parent) %> 
          <td colspan="4"><%= link_to user_story.subject, issue_path(user_story.id) if user_story.present? %></td>
          <td class="hours period-end"><%= html_hours("%.2f" % tasks.sum(&:estimated_hours)) %></td>
          <% @report.days.each do |day| %>
            <% story_total = tasks.map(&:time_entries).flatten.select{ |te| te.spent_on == day}.map(&:hours).sum %>
            <% story_remain = tasks.map(&:time_entries).flatten.select{ |te| te.spent_on == day}.map(&:te_remaining_hours).sum %>
            <td class="hours"><%= html_hours("%.2f" % story_total ) if story_total > 0 %></td>
            <td class="hours period-end"><%= html_hours("%.2f" % story_remain ) if story_remain > 0 %></td>
          <% end %>
          <td class="hours"><%= html_hours("%.2f" % tasks.map(&:spent_time).compact.sum) %></td>
          <td class="hours"><%= html_hours("%.2f" % tasks.map(&:remaining_hours).sum) %></td>
        </tr>
        <% tasks.each do |task| %>
          <tr class="<%= cycle 'odd', 'even' %>">
            <td data-task-id="<%= task.id %>"></td>
            <td><%= link_to task.subject, task %></td>
            <td><%= task.assigned_to %></td>
            <td><%= task.status %></td>
            <td class="hours period-end"><%= html_hours("%.2f" % task.estimated_hours) %></td>
            <% @report.days.each do |day| %>
              <% time_entries = task.time_entries.select{ |te| te.spent_on == day } %>
              <% hours = time_entries.compact.sum(&:hours) %>
              <% te_remaining_hours = time_entries.last.te_remaining_hours if time_entries.present? %>
              <% assignee_te = time_entries.find{ |te| te.user_id == task.assigned_to_id } %>
              <td class="hours time-entry period-start" 
                data-te-task-id="<%= task.id %>"
                data-te-assigned-to-id='<%= task.assigned_to_id %>'
                data-te-spent-on="<%= day %>"
                data-te-id='<%= assignee_te.try(:id) %>'
                data-te-hours='<%= assignee_te.try(:hours) %>'
                data-te-remain='<%= assignee_te.try(:te_remaining_hours) %>'
                data-te-sum-hours='<%= hours %>'
                data-te-sum-remain='<%= te_remaining_hours.to_f %>'
                data-te-type="hours">
                <%= html_hours("%.2f" % hours) if hours > 0 %>
              </td>
              <td class="hours time-entry period-end" data-te-type="remaining"><%= html_hours("%.2f" % te_remaining_hours) if te_remaining_hours.present? %></td>
            <% end %>
            <td class="hours" data-sum="<%= task.spent_time %>"><%= html_hours("%.2f" % task.spent_time ) if task.spent_time.to_f > 0 %></td>
            <td class="hours" data-sum="<%= task.remaining_hours %>"><%= html_hours("%.2f" % task.remaining_hours) if task.remaining_hours > 0 %></td>
          </tr>
        <% end %>
      <% end %>
      <tr class="total">
        <td colspan="4">Total</td>
        <td class="hours period-end"><%= html_hours("%.2f" % @report.issues.sum(&:estimated_hours)) %></td>
        <% @report.days.each do |day| %>
          <% day_time_entries = @report.issues.map(&:time_entries).flatten.select{ |te| te.spent_on == day} %>
          <% daily_total = day_time_entries.map(&:hours).sum %>
          <% daily_total_remain = day_time_entries.map(&:te_remaining_hours).compact.sum %>
          <td class="hours" data-sum="<%= daily_total %>"><%= html_hours("%.2f" % daily_total ) if daily_total > 0 %></td>
          <td class="hours period-end" data-sum="<%= daily_total_remain%>"><%= html_hours("%.2f" % daily_total_remain ) if daily_total_remain > 0 %></td>
        <% end %>
        <td class="hours" data-sum="<%= @report.issues.map(&:spent_time).compact.sum %>"><%= html_hours("%.2f" % @report.issues.map(&:spent_time).compact.sum) %></td>
        <td class="hours"><%= html_hours("%.2f" % @report.issues.sum(&:remaining_hours)) %></td>
      </tr>
    </tbody>
  </table>
</div>

<% other_formats_links do |f| %>
  <%= f.link_to 'CSV', :url => params %>
<% end %>

<% html_title l(:label_spent_time), l(:label_report) %>

