<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'jquery/jquery-ui.css', :plugin => :redmine_backlogs %>
  <%= stylesheet_link_tag 'redmine_scrum', :plugin => :redmine_scrum %>

  <%= javascript_include_tag 'knockout-2.2.0.js', :plugin => :redmine_scrum %>
  <%= javascript_include_tag 'jquery/jquery.jqplot/plugins/jqplot.dateAxisRenderer.min.js', :plugin => 'redmine_backlogs' %>
  <%= javascript_include_tag 'jquery/jquery.jqplot/plugins/jqplot.cursor.min.js', :plugin => 'redmine_backlogs' %>
  <%= javascript_include_tag 'time_entry', :plugin => :redmine_scrum %>
  <% javascript_tag do %>
    var data = <%= @report.data.to_json.html_safe %>
  <% end %>
<% end %>

<% html_title l('redmine_scrum.scrum_report') %>
<h2><%= l('redmine_scrum.scrum_report') %></h2>

<%= render "modal_dialog" %>

<% form_tag({:controller => 'scrum_report', :action => 'index', :project_id => @project},:method => :get, :id => 'query_form') do %>
  <%# @report.criteria.each do |criterion| %>
    <%#= hidden_field_tag 'criteria[]', criterion, :id => nil %>
  <%# end %>

  <p>
    <label for='version_id'><%= l('redmine_scrum.label_sprint') %></label>:
    <% if @versions.present? %>
      <% options = ['' ] + @versions.map {|v| ["#{v.name} (#{v.sprint_start_date} - #{v.effective_date})", v.id] } %>
      <%= select_tag 'version_id', 
        options_for_select(options, @version.try(:id)), :onchange => "this.form.submit();" %>
  <% end %>
  </p>
<% end %>
<% form_tag({}) do -%>

<div id="ko-report">
<div class="ko-report-block">
<div id="ko-header-left" class="ko-left">
  <table class="list ko-table-left">
    <thead>
      <tr>
        <th><%= l('redmine_scrum.user_story') %></th>
        <th><div><%= l('redmine_scrum.issue') %></div>
        <span><%= l('redmine_scrum.assignee') %></span>
        <span><%= l('redmine_scrum.status') %></span>
        </th>
        <th><%= l('redmine_scrum.estimated') %></th>
        </tr>
        <tr>
        <th colspan="3">&nbsp;</th>
        </tr>
    </thead>
    </table>
</div>
<div id="ko-header-right" class="ko-right ko-header-scroller">
  <table class="list ko-table-right">
    <thead>
      <tr>
        <!-- ko foreach: days -->
        <th class="period-end" colspan="2" data-bind="text: $data" ></th>
        <!-- /ko -->
        <th colspan="2"><%= l('redmine_scrum.total') %></th>
        </tr>
        <tr>
        <!-- ko foreach: days -->
          <th>&sum;</th>
          <th class="period-end">R</th>
        <!-- /ko -->
        <th>&sum;</th>
        <th>R</th>
        </tr>
    </thead>
    </table>
</div>
</div>
<div class="ko-report-block">
<div id="ko-body-left" class="ko-left">
  <table class="list ko-table-left">
    <tbody>
      <!-- ko foreach: rows -->
      <tr class="hascontextmenu context-menu-selection" data-bind="css: { subtotal: $data.isStory == true, 'odd': $index() % 2 == 0, 'even': $index() % 2 != 0 }"> 
        <td data-bind="css: { 'odd': $index() % 2 == 0, 'even': $index() % 2 != 0 }">
        <span data-bind="text: storySubject"></span>
        <input type="checkbox" name="ids[]", data-bind="value: issueId" style="display:none">
        </td>
        <td data-bind="css: { 'odd': $index() % 2 == 0, 'even': $index() % 2 != 0 }">
          <div data-bind="text: subject"></div>
          <span><select data-bind="visible: !isStory, options: $root.assignees, optionsText: 'name', value: assignee"></select></span>
          <span><select data-bind="visible: !isStory, options: $root.statuses, optionsText: 'name', value: currentStatus"></select></span>
        </td>
        <td data-bind="text: estimated, css: { 'odd': $index() % 2 == 0, 'even': $index() % 2 != 0 }"></td>
      </tr>
      <!-- /ko -->
      <tr>
        <th colspan="3">Total</th>
      </tr>
      <tr>
        <td colspan="3">&nbsp;</td>
      </tr>
    </tbody>
  </table>
</div>
<div id="ko-body-right" class="ko-right">
  <table class="list ko-table-right">
    <tbody>
      <!-- ko foreach: rows -->
      <tr data-bind="attr: { id: 'issue-'+ issueId  }, css: { 'no-time-entry': isStory == false, subtotal: isStory == true, 'odd': $index() % 2 == 0, 'even': $index() % 2 != 0 }"> 
        <!-- ko foreach: $data.cells -->
        <td data-bind="text: spent, click: $root.cellDetails, css:{ 'time-entry': hasTimeEntry}"></td>
        <td class="period-end" data-bind="text: left, click: $root.cellDetails, css:{ 'time-entry': hasTimeEntry}"></td>
        <!-- /ko -->
        <td data-bind="text: spent"></td>
        <td data-bind="text: left" class="period-end"></td>
      </tr>
      <!-- /ko -->
      <tr>
        <!-- ko foreach: $root.dailyTotals.cells -->
        <th data-bind="text: spent"></th>
        <th data-bind="text: left" class="period-end"></th>
        <!-- /ko -->
        <th data-bind="text: dailyTotals.spent"></th>
        <th data-bind="text: dailyTotals.left" class="period-end"></th>
      </tr>
    <tr class="hidden-row">
        <!-- ko foreach: days -->
        <th class="hidden-cell period-end" colspan="2" data-bind="text: $data" ></th>
        <!-- /ko -->
        </tr>
    </tbody>
  </table>
</div>
</div>
</div>
<% end %>

<div style="clear: both;"></div>

<pre data-bind="text: previewJsonData"></pre> 

<% other_formats_links do |f| %>
  <%= f.link_to 'CSV', :url => params %>
<% end %>

<div style="width:650px; height: 300px; margin: 0 auto" class="burndown_chart" id="burndown"></div>
<%= context_menu issues_context_menu_path %>
