<div class="contextual">
<%= link_to_if_authorized l(:button_log_time), {:controller => 'scrum_report', :action => 'index', :project_id => @project, :sprint_id => @sprint}, :class => 'icon icon-time-add' %>
</div>

<%#= render_timelog_breadcrumb %>

<h2><%= l(:label_scrum_report) %></h2>

<%= form_tag({:controller => 'scrum_report', :action => 'index', :project_id => @project},:method => :get, :id => 'query_form') do %>
  <%# @report.criteria.each do |criterion| %>
    <%#= hidden_field_tag 'criteria[]', criterion, :id => nil %>
  <%# end %>

  <p>
    <label for='version_id'><%= l(:label_version) %></label>:
    <% if @versions.present? %>
    <%= select_tag 'version_id', options_for_select(@versions.map {|v| ["#{v.name} (#{v.effective_date})", v.id] }, @version.try(:id)), :onchange => "this.form.submit();", :include_blank => true %>
  <% end %>
  </p>
<% end %>

<div class="autoscroll">
  <% total_spent_hours = 0 %>
  <table class="list" id="time-report" border="1">
    <thead>
      <tr>
        <th rowspan="2">User Story</th>
        <th rowspan="2">Issue</th>
        <th rowspan="2">Status</th>
        <th rowspan="2">Estimated</th>
        <% @days.each do |day| %>
          <th class="period" colspan="2"><%= day.to_s %></th>
        <% end %>
        <th colspan="2">Total</th>
      </tr>
      <tr>
        <% @days.each do |day| %>
          <th>&sum;</th>
          <th>R</th>
        <% end %>
        <th>&sum;</th>
        <th>R</th>
      </tr>
    </thead>
    <tbody>
      <% @issues.group_by(&:parent_id).each do |parent, tasks| %>
        <tr class="subtotal <%= cycle 'odd', 'even' %>">
          <td><%= tasks.first.try(:parent).try(:subject) %></td>
          <td></td>
          <td></td>
          <td class="hours"><%= html_hours("%.2f" % tasks.sum(&:estimated_hours)) %></td>
          <% @days.each do |day| %>
            <% story_total = tasks.map(&:time_entries).flatten.select{ |te| te.spent_on == day}.map(&:hours).sum %>
            <td class="hours"><%= html_hours("%.2f" % story_total ) if story_total > 0 %></td>
            <td class="hours"></td>
          <% end %>
          <td class="hours"></td>
          <td class="hours"><%= html_hours("%.2f" % tasks.map(&:remaining_hours).sum) %></td>
        </tr>
        <% tasks.each do |task| %>
          <% task_total = 0 %>
          <tr class="<%= cycle 'odd', 'even' %>">
            <td></td>
            <td><%= link_to task.subject, task %></td>
            <td><%= task.status %></td>
            <td class="hours"><%= html_hours("%.2f" % task.estimated_hours) %></td>
            <% @days.each do |day| %>
              <% time_entries = task.time_entries.select{ |te| te.spent_on == day } %>
              <% task_total += hours = time_entries.compact.sum(&:hours) %>
              <% remaining_hours = time_entries.last.te_remaining_hours if time_entries.present? %>
              <td class="hours"><%= html_hours("%.2f" % hours) if hours > 0 %></td>
              <td class="hours"><%= html_hours("%.2f" % remaining_hours) if remaining_hours.present? %></td>
            <% end %>
            <td class="hours"><%= html_hours("%.2f" % task_total ) if task_total.to_f > 0 %></td>
            <td class="hours"><%= html_hours("%.2f" % task.remaining_hours) if task.remaining_hours > 0 %></td>
          </tr>
        <% end %>
      <% end %>
      <tr class="total">
        <td colspan="3">Total</td>
        <td class="hours"><%= html_hours("%.2f" % @issues.sum(&:estimated_hours)) %></td>
        <% @days.each do |day| %>
          <% daily_total = @issues.map(&:time_entries).flatten.select{ |te| te.spent_on == day}.map(&:hours).sum %>
          <% total_spent_hours += daily_total %>
          <td class="hours"><%= html_hours("%.2f" % daily_total ) if daily_total > 0 %></td>
          <td class="hours"></td>
        <% end %>
        <td class="hours"><%= html_hours("%.2f" % total_spent_hours) %></td>
        <td class="hours"><%= html_hours("%.2f" % @issues.sum(&:remaining_hours)) %></td>
      </tr>
    </tbody>
  </table>
</div>

<% other_formats_links do |f| %>
  <%= f.link_to 'CSV', :url => params %>
<% end %>

<% html_title l(:label_spent_time), l(:label_report) %>

