<% content_for :header_tags do %>
  <%= javascript_include_tag 'time_entry', :plugin => :redmine_scrum %>
<% end %>

<h2><%= l(:label_scrum_report) %></h2>

<div id="time-entry-dialog">
  <p id="task-subject"></p>
  <%= form_for TimeEntry.new, :url => '/scrum_report_time_entries', :remote => true, :html => { :id => 'set-time-entry-hours' } do |f| %> 
    <div id="errorExplanation">
      <ul>
      </ul>
    </div>
    <p>
    <%= f.text_field :hours, :size => 6, :required => true %>
    <%= f.label :hours %>
   </p>
   <p>
    <%= f.text_field :te_remaining_hours, :size => 6 %>
    <%= f.label :te_remaining_hours %>
    </p>
     <p>
     <%= f.submit 'Save' %>
  <% end %>
</div>
<%= form_tag({:controller => 'scrum_report', :action => 'index', :project_id => @project},:method => :get, :id => 'query_form') do %>
  <%# @report.criteria.each do |criterion| %>
    <%#= hidden_field_tag 'criteria[]', criterion, :id => nil %>
  <%# end %>

  <p>
    <label for='version_id'><%= l(:label_version) %></label>:
    <% if @versions.present? %>
    <%= select_tag 'version_id', options_for_select(@versions.map {|v| ["#{v.name} (#{v.effective_date})", v.id] }, @version.try(:id)), :onchange => "this.form.submit();", :include_blank => true %>
  <% end %>
  </p>
<% end %>

<div class="autoscroll">
  <table class="list" id="time-report">
    <thead>
      <tr>
        <th rowspan="2">User Story</th>
        <th rowspan="2">Issue</th>
        <th rowspan="2">Assignee</th>
        <th rowspan="2">Status</th>
        <th rowspan="2">Estimated</th>
        <% @days.each do |day| %>
          <th class="period" colspan="2"><%= day.to_s %></th>
        <% end %>
        <th colspan="2">Total</th>
      </tr>
      <tr>
        <% @days.each do |day| %>
          <th>&sum;</th>
          <th>R</th>
        <% end %>
        <th>&sum;</th>
        <th>R</th>
      </tr>
    </thead>
    <tbody>
      <% @issues.group_by(&:parent_id).each do |parent, tasks| %>
        <tr class="subtotal <%= cycle 'odd', 'even' %>">
          <% user_story = tasks.first.try(:parent) %> 
          <td colspan="4"><%= link_to user_story.subject, issue_path(user_story.id) if user_story.present? %></td>
          <td class="hours"><%= html_hours("%.2f" % tasks.sum(&:estimated_hours)) %></td>
          <% @days.each do |day| %>
            <% story_total = tasks.map(&:time_entries).flatten.select{ |te| te.spent_on == day}.map(&:hours).sum %>
            <td class="hours"><%= html_hours("%.2f" % story_total ) if story_total > 0 %></td>
            <td class="hours"></td>
          <% end %>
          <td class="hours"><%= html_hours("%.2f" % tasks.map(&:spent_time).compact.sum) %></td>
          <td class="hours"><%= html_hours("%.2f" % tasks.map(&:remaining_hours).sum) %></td>
        </tr>
        <% tasks.each do |task| %>
          <tr class="<%= cycle 'odd', 'even' %>">
            <td data-task-id="<%= task.id %>"></td>
            <td><%= link_to task.subject, task %></td>
            <td><%= task.assigned_to %></td>
            <td><%= task.status %></td>
            <td class="hours"><%= html_hours("%.2f" % task.estimated_hours) %></td>
            <% @days.each do |day| %>
              <% time_entries = task.time_entries.select{ |te| te.spent_on == day } %>
              <% hours = time_entries.compact.sum(&:hours) %>
              <% remaining_hours = time_entries.last.te_remaining_hours if time_entries.present? %>
              <td class="hours time-entry" data-time-entry-ids="<%= time_entries.map(&:id) %>" data-time-entry-values="<%= [ hours, (remaining_hours.blank? ? "": remaining_hours) ] %>"><%= html_hours("%.2f" % hours) if hours > 0 %></td>
              <td class="hours time-entry" data-time-entry-ids="<%= time_entries.map(&:id) %>" data-time-entry-values="<%= [ hours, (remaining_hours.blank? ? "": remaining_hours) ] %>"><%= html_hours("%.2f" % remaining_hours) if remaining_hours.present? %></td>
            <% end %>
            <td class="hours"><%= html_hours("%.2f" % task.spent_time ) if task.spent_time.to_f > 0 %></td>
            <td class="hours"><%= html_hours("%.2f" % task.remaining_hours) if task.remaining_hours > 0 %></td>
          </tr>
        <% end %>
      <% end %>
      <tr class="total">
        <td colspan="4">Total</td>
        <td class="hours"><%= html_hours("%.2f" % @issues.sum(&:estimated_hours)) %></td>
        <% @days.each do |day| %>
          <% day_time_entries = @issues.map(&:time_entries).flatten.select{ |te| te.spent_on == day} %>
          <% daily_total = day_time_entries.map(&:hours).sum %>
          <% daily_total_remain = day_time_entries.map(&:te_remaining_hours).compact.sum %>
          <td class="hours"><%= html_hours("%.2f" % daily_total ) if daily_total > 0 %></td>
          <td class="hours"><%= html_hours("%.2f" % daily_total_remain ) if daily_total_remain > 0 %></td>
        <% end %>
        <td class="hours"><%= html_hours("%.2f" % @issues.map(&:spent_time).compact.sum) %></td>
        <td class="hours"><%= html_hours("%.2f" % @issues.sum(&:remaining_hours)) %></td>
      </tr>
    </tbody>
  </table>
</div>

<% other_formats_links do |f| %>
  <%= f.link_to 'CSV', :url => params %>
<% end %>

<% html_title l(:label_spent_time), l(:label_report) %>

