<% content_for :header_tags do %>
  <% javascript_tag do %>
    var data = <%= @report.data.to_json.html_safe %>
    var days = <%= @report.days.to_a.map(&:to_s).to_json %>
    var issueIds = [];
  <% end %>
  <%= javascript_include_tag 'knockout-2.2.0.js', :plugin => :redmine_scrum %>
  <%= javascript_include_tag 'time_entry', :plugin => :redmine_scrum %>
  <%= javascript_include_tag 'jquery/jquery.jqplot/plugins/jqplot.dateAxisRenderer.min.js', :plugin => 'redmine_backlogs' %>
  <%= javascript_include_tag 'jquery/jquery.jqplot/plugins/jqplot.cursor.min.js', :plugin => 'redmine_backlogs' %>

  <%= stylesheet_link_tag 'jquery/jquery-ui.css', :plugin => :redmine_backlogs %>
  <%= stylesheet_link_tag 'redmine_scrum', :plugin => :redmine_scrum %>

<% end %>

<% html_title l('redmine_scrum.scrum_report') %>
<h2><%= l('redmine_scrum.scrum_report') %></h2>

<%= render "modal_dialog" %>

<% form_tag({:controller => 'scrum_report', :action => 'index', :project_id => @project},:method => :get, :id => 'query_form') do %>
  <%# @report.criteria.each do |criterion| %>
    <%#= hidden_field_tag 'criteria[]', criterion, :id => nil %>
  <%# end %>

  <p>
    <label for='version_id'><%= l('redmine_scrum.label_sprint') %></label>:
    <% if @versions.present? %>
      <% options = ['' ] + @versions.map {|v| ["#{v.name} (#{v.sprint_start_date} - #{v.effective_date})", v.id] } %>
      <%= select_tag 'version_id', 
        options_for_select(options, @version.try(:id)), :onchange => "this.form.submit();" %>
  <% end %>
  </p>
<% end %>

<div class="autoscroll">
  <% form_tag({}) do -%>
  <%= hidden_field_tag 'back_url', url_for(params), :id => nil %>
  <table class="list" id="time-report">
    <thead>
      <tr>
        <th rowspan="2"><%= l('redmine_scrum.user_story') %></th>
        <th rowspan="2"><%= l('redmine_scrum.issue') %></th>
        <th rowspan="2"><%= l('redmine_scrum.assignee') %></th>
        <th rowspan="2"><%= l('redmine_scrum.status') %></th>
        <th rowspan="2" class="period-end"><%= l('redmine_scrum.estimated') %></th>
        <% @report.days.each do |day| %>
          <th class="period-end" colspan="2"><%= day.to_s %></th>
        <% end %>
        <th colspan="2"><%= l('redmine_scrum.total') %></th>
      </tr>
      <tr>
        <% @report.days.each do |day| %>
          <th>&sum;</th>
          <th class="period-end">R</th>
        <% end %>
        <th>&sum;</th>
        <th>R</th>
      </tr>
    </thead>
    <tbody>
      <% @report.issues.group_by(&:parent_id).each do |parent, tasks| %>
        <tr class="subtotal <%= cycle 'odd', 'even' %> hascontextmenu context-menu-selection">
          <% user_story = Issue.find_by_id(parent) %> 
          <%= javascript_tag("issueIds.push(#{user_story.id})") %>
          <td colspan="4">
            <%= check_box_tag("ids[]", user_story.id, false, :id => nil, :style => "display:none") %>
            <%= link_to user_story.subject, issue_path(user_story.id) if user_story.present? %>
          </td>
          <td class="hours period-end"><%= html_hours("%.2f" % tasks.sum(&:estimated_hours)) %></td>
          <% @report.days.each do |day| %>
            <% story_total = @report.issue_spent(day, user_story) %>
            <% story_remain = @report.issue_remain(day, user_story) %>
            <td class="hours" data-sum="<%= story_total %> "><%= html_hours("%.2f" % story_total ) %></td>
            <td class="hours period-end" data-sum="<%= story_remain %>"><%= html_hours("%.2f" % story_remain ) %></td>
          <% end %>
          <td class="hours" data-sum="<%= tasks.map(&:spent_time).compact.map(&:to_f).sum %>"><%= html_hours("%.2f" % tasks.map(&:spent_time).compact.map(&:to_f).sum) %></td>
          <td class="hours" data-sum="<%= @report.issue_remain(@report.days.last, user_story) %>"><%= html_hours("%.2f" % @report.issue_remain(@report.days.last, user_story)) %></td>
        </tr>
        <% tasks.each do |task| %>
          <%= javascript_tag("issueIds.push(#{task.id})") %>
          <tr id="issue-<%= task.id %>" class="<%= cycle 'odd', 'even' %> hascontextmenu context-menu-selection">
            <td data-task-id="<%= task.id %>">
              <%= check_box_tag("ids[]", task.id, false, :id => nil, :style => "display:none") %>
            </td>
            <td><%= link_to task.subject, task %></td>
            <td><%= task.assigned_to %></td>
            <td><%= task.status %></td>
            <td class="hours period-end"><%= html_hours("%.2f" % task.estimated_hours) %></td>
            <% @report.days.to_a.each_with_index do |day, idx| %>
              <% hours = @report.issue_spent(day, task) %>
              <% remain_hours = @report.issue_remain(day, task) %>
              <% assignee_te = @report.assignee_te(day, task) %>
              <td class="hours time-entry period-start" 
                data-te-idx="<%= idx %>"
                data-te-task-id="<%= task.id %>"
                data-te-assigned-to-id='<%= task.assigned_to_id %>'
                data-te-spent-on="<%= day %>"
                data-te-id='<%= assignee_te.try(:id) %>'
                data-te-hours='<%= assignee_te.try(:hours) %>'
                data-te-remain='<%= assignee_te.try(:te_remaining_hours) %>'
                data-te-sum-hours='<%= hours || 0 %>'
                data-te-sum-remain='<%= remain_hours.to_f %>'
                data-te-type="hours">
                <%= format_hours_helper(hours, @report.has_time_entry?(day, task)) %>
              </td>
              <td class="hours time-entry period-end" data-te-type="remaining">
                <%= format_hours_helper(remain_hours, @report.has_time_entry?(day, task)) %>
              </td>
            <% end %>
            <td class="hours" data-sum="<%= task.spent_time %>"><%= html_hours("%.2f" % task.spent_time.to_f) %></td>
            <td class="hours" data-sum="<%= @report.issue_remain(@report.days.last, task) %>"><%= html_hours("%.2f" % @report.issue_remain(@report.days.last, task)) %></td>
          </tr>
        <% end %>
      <% end %>
      <tr class="total">
        <td colspan="4"><%= l('redmine_scrum.total') %></td>
        <td class="hours period-end"><%= html_hours("%.2f" % @report.sum_estimated_hours) %></td>
        <% @report.days.to_a.each_with_index do |day, idx| %>
          <% daily_total = @report.daily_spent(day) %>
          <% daily_total_remain = @report.daily_remain(day) %>
          <td class="hours" data-sum="<%= daily_total %>"><%= html_hours("%.2f" % daily_total ) %></td>
          <td class="hours period-end" data-sum="<%= (daily_total_remain || 0) %>"><%= html_hours("%.2f" % daily_total_remain ) %></td>
        <% end %>
        <td class="hours" data-sum="<%= @report.sum_spent_hours %>"><%= html_hours("%.2f" % @report.sum_spent_hours ) %></td>
        <td class="hours" data-sum="<%= @report.sum_remaining_hours %>"><%= html_hours("%.2f" % @report.sum_remaining_hours) %></td>
      </tr>
    </tbody>
  </table>
<% end %>
</div>

<script id="itemsTmpl" type="text/html">
  <tr>
    <td data-bind="text: identificador"></td>
    <td data-bind="text: nome"></td>
    <td data-bind="text: descricao"></td>
    <td data-bind="text: unidade"></td>
    <td data-bind="text: hora_init"></td>
    <td data-bind="text: period_cid"></td>
    <td class="buttons">
      <button data-bind="click: $root.editItem">Edit</button>
    </td>
  </tr>
</script>

<div class="autoscroll">
  <table id="knocokout-table" class="list">
    <thead>
      <tr>
        <th rowspan="2"><%= l('redmine_scrum.user_story') %></th>
        <th rowspan="2"><%= l('redmine_scrum.issue') %></th>
        <th rowspan="2"><%= l('redmine_scrum.assignee') %></th>
        <th rowspan="2"><%= l('redmine_scrum.status') %></th>
        <th rowspan="2" class="period-end"><%= l('redmine_scrum.estimated') %></th>
        <!-- ko foreach: days -->
        <th class="period-end" colspan="2" data-bind="text: $data" ></th>
        <!-- /ko -->
        <th colspan="2"><%= l('redmine_scrum.total') %></th>
        </tr>
        <tr>
        <!-- ko foreach: days -->
          <th>&sum;</th>
          <th class="period-end">R</th>
        <!-- /ko -->
        <th>&sum;</th>
        <th>R</th>
        </tr>
    </thead>
    <tbody>
      <!-- ko foreach: entries -->
      <tr> 
        <td data-bind="text: $index"></td>
        <td>Task</td>
        <td>Assignee</td>
        <td>Status</td>
        <td class="period-end">Estimated</td>
        <!-- ko foreach: $data -->
        <td data-bind="text: spent"></td>
        <td data-bind="text: left" class="period-end"></td>
        <!-- /ko -->
      </tr>
      <!-- /ko -->
      <tr> 
        <td colspan="5" class="period-end">Total</td>
        <!-- ko foreach: $root.dailyTotals -->
        <td data-bind="text: spent"></td>
        <td data-bind="text: left" class="period-end"></td>
        <!-- /ko -->
      </tr>
    </tbody>
  </table>
</div>

<pre data-bind="text: previewJsonData"></pre> 

<% other_formats_links do |f| %>
  <%= f.link_to 'CSV', :url => params %>
<% end %>

<%= render :partial => 'burndown', :locals => {
  :mode => :full, 
  :style => 'width:650px; height: 300px; margin: 0 auto', 
} %>
<%= context_menu issues_context_menu_path %>
