<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'jquery/jquery-ui.css', :plugin => :redmine_backlogs %>
  <%= stylesheet_link_tag 'redmine_scrum', :plugin => :redmine_scrum %>

  <%= javascript_include_tag 'jquery.nicescroll.js', :plugin => :redmine_scrum %>
  <%= javascript_include_tag 'knockout-2.2.0.js', :plugin => :redmine_scrum %>

  <%= javascript_include_tag 'jquery/jquery.jqplot/plugins/jqplot.dateAxisRenderer.min.js', :plugin => 'redmine_backlogs' %>
  <%= javascript_include_tag 'jquery/jquery.jqplot/plugins/jqplot.cursor.min.js', :plugin => 'redmine_backlogs' %>

  <%= javascript_include_tag 'time_entry', :plugin => :redmine_scrum %>
  <%= javascript_tag do %>
    var data = <%= @report.data.to_json.html_safe %>
  <% end %>
<% end %>

<% html_title l('redmine_scrum.scrum_report') %>
<h2><%= l('redmine_scrum.scrum_report') %></h2>

<%= render "modal_dialog" %>

<%= form_tag({:controller => 'scrum_report', :action => 'index', :project_id => @project},:method => :get, :id => 'query_form') do %>
  <p>
    <label for='version_id'><%= l('redmine_scrum.label_sprint') %></label>:
    <% if @versions.present? %>
      <% options = ['' ] + @versions.map {|v| ["#{v.name} (#{v.sprint_start_date} - #{v.effective_date})", v.id] } %>
      <%= select_tag 'version_id',
        options_for_select(options, @version.try(:id)), :onchange => "this.form.submit();" %>
  <% end %>
    <label for="filter-assignee"><%= l('redmine_scrum.assignee') %>:</label>
    <select id="filter-assignee" data-bind="options: assignees, optionsText: 'name',  value: filterAssignee, optionsCaption: 'All'"></select>
    <label for="filter-status"><%= l('redmine_scrum.status') %>:</label>
    <select id="filter-status" data-bind="options: issueStatuses, optionsText: 'name',  value: filterStatus, optionsCaption: 'All'"></select>
    <div>
      <label for="filter-category"><%= l('redmine_scrum.category') %>:</label>
      <input type="checkbox" id="all-categories" data-bind="checked: $root.selectAllCategories" />
      <span>All</span>
      <!-- ko foreach: categories -->
      <input type="checkbox" data-bind="value: id, checked: $root.filterCategories" />
      <span data-bind="text: name"></span>
      (<span data-bind="text: count"></span>)
      <!-- /ko -->
    </div>
    <label for="filter-subject"><%= l('redmine_scrum.subject') %>:</label>
    <input id="filter-subject" type="text" data-bind="value: filterSubject, valueUpdate: 'keyup'">
  </p>
<% end %>
<%= form_tag({}) do -%>

<div id="ko-report">
<div class="ko-report-block">
  <div id="ko-header-left" class="ko-left">
    <table id="ko-table-header-left" class="list">
      <thead>
        <tr>
          <th class="user-story-and-assignee-header"><%= l('redmine_scrum.user_story') %>
          <br /><%= l('redmine_scrum.assignee') %> <%= l('redmine_scrum.status') %>
          </th>
          <th><%= l('redmine_scrum.estimated') %></th>
          <th class="spent-remain-total">
            <div class="day-title"><%= l('redmine_scrum.total') %></div>
            <span>&sum;</span>
            <span>R</span>
          </th>
        </tr>
      </thead>
      </table>
  </div>
  <div id="ko-header-right" class="ko-right ko-header-scroller">
    <table id="ko-table-header-right" class="list">
      <thead>
        <tr>
          <!-- ko foreach: days -->
          <th class="period-end" data-bind="css: { today: $root.isToday($data) }">
            <div class="day-title" data-bind="text: $root.dayName($data)"></div>
            <div class="day-title" data-bind="text: $data"></div>
            <span>&sum;</span>
            <span>R</span>
          </th>
          <!-- /ko -->
        </tr>
      </thead>
    </table>
  </div>
</div>
<div class="ko-report-block">
  <div id="ko-body-left" class="ko-left">
    <table id="ko-table-body-left" class="list">
      <tbody>
        <!-- ko foreach: rows -->
        <tr class="hascontextmenu context-menu-selection" data-bind="attr: { id: 'issue-'+ issueId  },
              visible: isVisible({ byAssignee: $root.filterAssignee(),
                                   byStatus: $root.filterStatus(),
                                   byCategories: $root.filterCategories(),
                                   bySubject: $root.filterSubject() }),
              css: { subtotal: $data.isStory, 'odd': $index() % 2 == 0, 'even': $index() % 2 != 0 }">
          <td data-bind="css: { 'odd': $index() % 2 == 0, 'even': $index() % 2 != 0 }" class="issue-desc">
            <div data-bind=", css: { 'task-title': !isStory }">
              <a data-bind="attr: { href: '/issues/' + (issueId || storyId) }, text: formattedSubject()"></a>
            </div>
            <div data-bind="visible: !isStory">
              <span class="task-assignee" data-bind="text: assigneeName"></span> ||
              <span data-bind="visible: !isStory, text: currentStatus"></span>
              </div>
          </td>
          <th class="estimated three-digits-max" data-bind="attr: { 'data-task-id': issueId }, css: { 'odd': $index() % 2 == 0, 'even': $index() % 2 != 0 }">
            <span data-bind="text: estimated().toFixed(2)"></span>
            <input type="checkbox" name="ids[]", data-bind="value: issueId" style="display:none">
          </th>
          <th data-bind="text: spent().toFixed(2)" class="three-digits-max"></th>
          <th data-bind="text: left().toFixed(2)" class="period-end three-digits-max"></th>
        </tr>
        <!-- /ko -->
        <tr class="subtotal">
          <th><%= l('redmine_scrum.total') %></th>
          <th data-bind="text: $root.dailyTotals.estimated" class="three-digits-max"></th>
          <th data-bind="text: dailyTotals.spent().toFixed(2)" class="three-digits-max"></th>
          <th data-bind="text: dailyTotals.left().toFixed(2)" class="period-end three-digits-max"></th>
        </tr>
      </tbody>
    </table>
  </div>
  <div id="ko-body-right" class="ko-right">
    <table id="ko-table-body-right" class="list">
      <tbody>
        <!-- ko foreach: rows -->
        <tr data-bind="attr: { id: 'issue-'+ issueId  },
          visible: isVisible({ byAssignee: $root.filterAssignee(),
                               byStatus: $root.filterStatus(),
                               byCategories: $root.filterCategories(),
                               bySubject: $root.filterSubject() }),
          css: { 'no-time-entry': !isStory, subtotal: isStory, 'odd': $index() % 2 == 0, 'even': $index() % 2 != 0 }">
          <!-- ko foreach: $data.cells -->
              <td data-bind="text: spent().toFixed(2),
                css:{ 'time-entry': !$parent.isStory && !!timeEntryCount() ,
                      'no-time-entry': !$parent.isStory && !timeEntryCount(),
                      'clickable': !$parent.isStory,
                      'today': $root.isToday(day),
                      'selected': !$parent.isStory && $root.selectedCell() == $data }"></td>
              <td data-bind="text: left().toFixed(2),
                css:{ 'time-entry': !$parent.isStory && !!timeEntryCount() ,
                      'no-time-entry': !$parent.isStory && !timeEntryCount(),
                      'clickable': !$parent.isStory,
                      'today': $root.isToday(day),
                      'selected': !$parent.isStory && $root.selectedCell() == $data }" class="period-end"></td>
          <!-- /ko -->
        </tr>
        <!-- /ko -->
        <tr class="subtotal">
          <!-- ko foreach: $root.dailyTotals.cells -->
          <th data-bind="text: spent().toFixed(2), css: {'today': $root.isToday(day) }"></th>
          <th data-bind="text: left().toFixed(2), css: {'today': $root.isToday(day) }" class="period-end"></th>
          <!-- /ko -->
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
<% end %>

<div style="clear: both;"></div>

<pre data-bind="text: previewJsonData"></pre>

<% other_formats_links do |f| %>
  <%=
    # TODO: Make it work again
    #f.link_to 'CSV', :url => params
  %>
<% end %>

<div style="width:650px; height: 300px; margin: 0 auto" class="burndown_chart" id="burndown"></div>
<%= context_menu issues_context_menu_path %>
